<!DOCTYPE html>
<html>
    <head>
        <link  href="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
        <link  href="lib/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link  href="assets/extra.css" rel="stylesheet">
        <link  href="assets/my-style.css" rel="stylesheet">
        <link  href="assets/responsive-menu.css" rel="stylesheet">
        
        <link  href="pages/home/home.css" rel="stylesheet">
        <link  href="pages/loantypes/loantypes.css" rel="stylesheet">
        <link  href="pages/apply/apply.css" rel="stylesheet">

        <script src="lib/jquery/dist/jquery.min.js"></script>
        <script src="lib/angular.js"></script>
        <script src="lib/angular-ui-router.min.js"></script>
        <script src="lib/tether/dist/js/tether.js"></script>
        <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="assets/app.js"></script>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <!--use local font file for testing, can enable this when deploy-->
        <!--<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Comfortaa%3A400%2C700&amp;ver=4.7.3" type="text/css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Comfortaa%3A700" type="text/css">-->
        <link rel="stylesheet" href="lib/fonts-googleapis-comfortaa-400-700-v4-7-3.css" type="text/css">
        <link rel="stylesheet" href="lib/fonts-googleapis-comfortaa-700.css" type="text/css">
    </head>
    <body ng-app="myduitApp" ng-controller="myduitCtrl as myduit">
        <button id="responsive-menu-button"
                class="responsive-menu-button responsive-menu-accessible responsive-menu-boring" 
                type="button" aria-label="Menu"
                ng-click="myduit.showMenu = !myduit.showMenu"
                ng-class="{ 'is-active': myduit.showMenu }">
            <span class="responsive-menu-box"><span class="responsive-menu-inner"></span></span>
        </button>
        <div id="responsive-menu-container" class=""
             ng-class="{ 'slide-left': !myduit.showMenu }">
            <div id="responsive-menu-wrapper" class="p-a-3">
                <ul id="responsive-menu" class="">
                    <li id="responsive-menu-item-home" class="responsive-menu-item" ui-sref-active="responsive-menu-current-item">
                        <a ng-click="myduit.showMenu = !myduit.showMenu" ui-sref="home" class="responsive-menu-item-link">Home</a>
                    </li>
                    <li id="responsive-menu-item-loantypes" class="responsive-menu-item" ui-sref-active="responsive-menu-current-item">
                        <a ng-click="myduit.showMenu = !myduit.showMenu" ui-sref="loantypes" class="responsive-menu-item-link">Types of Loan</a>
                    </li>
                    <li id="responsive-menu-item-apply" class="responsive-menu-item" ui-sref-active="responsive-menu-current-item">
                        <a ng-click="myduit.showMenu = !myduit.showMenu" ui-sref="apply" class="responsive-menu-item-link">Apply Now</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-6 operating-hours"></div>
                    <div class="col-xs-12 col-md-6 hotline">
                        <div class="text-xs-center text-md-right">
                            <div class="translation-select-div" ng-show="false">
                                <select class="translation-select">
                                    <option value="http://firstcredits.net/bm/mohon-sekarang/">Bahasa Melayu</option>
                                    <option value="http://firstcredits.net/en/apply-now/">English</option>
                                </select>
                            </div>
                            <div class="contact-me-text-div">
                                <div class="contact-me-text">
                                    <a href="tel:+60102079191" class="text-white">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <i class="fa fa-whatsapp" aria-hidden="true"></i>
                                        <i class="fa fa-wechat" aria-hidden="true"></i> 010 207 9191
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-middle p-t-2">
        	<div class="container">
                <div class="row">
                    <div id="logo" class="col-xs-12 col-md-4 text-xs-center">
                        <a href="/">
                            <img src="images/myduit-logo.jpg" width="170" alt="First Credit">
                        </a>
                    </div>
                    <div class="navigation-menu col-sm-8 hidden-sm-down">
                        <nav class="navbar-collapse collapse navbar-ex1-collapse">
                            <ul id="menu-main-menu" class="nav navbar-nav">
                                <li ui-sref-active="active" class="menu-item-home"><a title="Home" ui-sref="home">Home</a></li>
                                <li ui-sref-active="active" class="menu-item-loantypes"><a title="Types of Loan" ui-sref="loantypes">Types of Loan</a></li>
                                <li ui-sref-active="active" class="menu-item-apply"><a title="Apply Now" ui-sref="apply">Apply Now</a></li>
                                <!--<li id="menu-item-12" class="menu-item-home menu-item-12"><a title="Home" href="http://firstcredits.net/en/">Home</a></li>
                                <li id="menu-item-60" class="menu-item-60"><a title="Types of Loan" href="http://firstcredits.net/en/jenis-pinjaman/">Types of Loan</a></li>
                                <li id="menu-item-61" class="current-menu-item page_item page-item-53 current_page_item menu-item-61 active"><a title="Apply Now" href="http://firstcredits.net/en/mohon-sekarang/">Apply Now</a></li>-->
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="site-content">
            <section class="_main-ui-view _content p-t-1" ui-view></section>
        </div>

        <div class="site-footer p-y-3">
            <div class="container">
                <div class="row">                                          
                    <div class="footer-copyright col-xs-12 col-md-4 text-xs-center text-lg-left">
                        <div>Permit No: WP5150/10/01-6/290517<br> License No: WL5150/10/01-6/290517 issued by KPKT</div><div>Copyright ©2017 All rights reserved.</div>
                    </div>
                    <div style="line-height:1.4;padding:10px;" id="footer-address" class="col-xs-12 col-md-4 text-xs-center text-lg-left">
                        15, Lorong Brunei 3, <br>Pudu, 55100 Cheras, <br>Wilayah Persekutuan Kuala Lumpur
                    </div>
                    <div class="footer-contact col-xs-12 col-md-4 text-xs-center">
                        <div>
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <i class="fa fa-whatsapp" aria-hidden="true"></i>
                            <i class="fa fa-wechat" aria-hidden="true"></i>
                        </div>
                        <div><a href="tel:+60102079191">010-207 9191</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-to-top" style="display: block;"><i class="fa fa-angle-up"></i></div>
        </div>
    </body>
</html>