<div class="page-loantypes page-loantypes-en" ng-init="myduit.init();">
    <div class="page-featured-banner" style="background-image:url('pages/loantypes/img/banner-01-01.jpg')">
        <div class="container">
            <h1 class="text-uppercase">Types of Loan</h1>
        </div>
    </div>
    <div class="content">
        <section class="loan-section-1 p-y-3 ">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3>
                            <a href="@@loan_1" class="nsanchor">Personal Loan</a><br>
                            <a href="@@loan_2" class="nsanchor">Business Loan</a><br>
                            <a href="@@loan_3" class="nsanchor">Mortgage Loan</a><br>

                            <!--<a ng-click="myduit.scrollTo('#loan_1');" class="nsanchor">Personal Loan</a><br>
                            <a ng-click="myduit.scrollTo('#loan_2');" class="nsanchor">Business Loan</a><br>
                            <a ng-click="myduit.scrollTo('#loan_3');" class="nsanchor">Mortgage Loan</a><br>-->
                        </h3>
                    </div>
                </div>
            </div>
        </section>
        <section class="loan-section-2 p-y-3 " id="loan_1">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h3 class="capitalize">Personal Loan</h3>
                        <p>Personal loan is a loan that can be taken out by all Malaysia citizens that have a source of income. This is a loan scheme which provides loans to regularly salaried employees with a monthly repayment plan to meet their personal needs. </p>
                        <p>A personal loan can also be defined as a short term loan and it may be the answer to your short-term cash needs. This is because a personal loan normally has a repayment period that is shorter than other types of loan such as housing loan or a mortgage. Easy to get the process started right now.</p>
                        <a ui-sref="apply" class="btn btn-default btn-lg"> Apply Now </a>
                    </div>
                    <div class="col-md-4 text-xs-center">
                        <div class="m-b-2">
                            <img src="pages/loantypes/img/types-img-01.png" alt="" width="250" height="200" class="aligncenter size-full wp-image-35">
                        </div>
                        <strong>
                            <label>Our Company Offered Personal Loan to Our Customer with Higher Margin</label>
                        </strong>
                    </div>
                </div>
            </div>
        </section>
        <section class="loan-section-3 p-y-3" id="loan_2">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 pull-right">
                        <h3 class="capitalize white">Business Loan</h3>
                        <p>This loans is suitable to all business owner and self employed personnel. It can improve your business cash flow, expending your existing business capital, stock purchase, joint venture, investment, cash turnover, purchasing of stocks, settle supplier overdue and others more.</p>
                        <p>Our business loans are special designed for reduce businessman financial problem.</p>
                        <a ui-sref="apply" class="btn btn-default btn-lg white"> Apply Now </a>
                    </div>
                    <div class="col-md-4 text-xs-center pull-right">
                        <div class="m-b-2">
                            <img src="pages/loantypes/img/types-img-02.png" alt="" width="250" height="250" class="aligncenter size-full wp-image-39">
                        </div>
                        <strong>
                            <label>Our Company Offered Business Loan to Our Customer with Higher Margin</label>
                        </strong>
                    </div>
                </div>
            </div>
        </section>
        <section class="loan-section-4 p-y-3" id="loan_3">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h3 class="capitalize">Mortgage Loan</h3>
                        <p>A mortgage loan means the borrower to a certain degree of collateral materials to ensure the loan to the lenders. It is a kind of bank lending capitalist form of collateral usually consists of securities, a variety of stocks, real estate (such as terrace houses, semi-Detached, bungalow and condominium), transport, as well as the goods bill of lading, gold, watches or other documentation to prove ownership of the items.</p>
                        <p>Loan maturity, the borrower must be shown with the return, otherwise the lenders have the right processor collateral, as a kind of compensation. Many people plan to refinance such loans as a complementary way, because it’s a lowest interest loan in the market. Using this mortgage loans to customers that the period of time the interest rate will not rise.</p>
                        <a ui-sref="apply" class="btn btn-default btn-lg"> Apply Now </a>
                    </div>
                    <div class="col-md-4 text-xs-center">
                        <div class="m-b-2">
                            <img src="pages/loantypes/img/types-img-03.png" alt="" width="250" height="250" class="aligncenter size-full wp-image-46">
                        </div>
                        <strong>
                            <label>Our Company Offered Mortgage Loan to Our Customer with Higher Margin</label>
                        </strong>
                    </div>
                </div>
            </div>
        </section>
        <section class="loan-section-5 text-xs-center p-y-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                    <h3 class="capitalize">Interest Rate</h3>
                    <p>With mortgage monthly interest rate 1%, without mortgage monthly interest rate 1.5% | With mortgage yearly interest rate 12%, without mortgage yearly interest rate 18%.<br>
                    Minimum repayment: 6 months; Maximum repayment: 60 months.</p>
                    <div class="my-box">
                    <h4>Example</h4>
                    <p>Amount of credit RM 5000 borrowed for 180 days.<br>
                    Interest: RM488<br>
                    Total amount payable: RM5448
                    </p></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>